html{
    background-color: #c0c0c0;
}

#inicio{
    color: brown;
    text-align: center;
    font-size: 20px;
    font-family: "Zen Tokyo Zoo";
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px blanchedalmond;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #c4e7fffd;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

img{
    display: block;
    margin: 0 auto;
    width: 400px;
    border: 5px solid wheat;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100;
}